# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [2]:
def add_two(x):
    return x + 2

print(add_two)

<function add_two at 0x0000023F95297670>

In [3]:
lambda x: x + 2

In [5]:
print(lambda x: x+2)

<function <lambda> at 0x0000023F95297550>

In [6]:
#IIFE - immediately invoked function expression
#execute a lambda function immediately after creation
#syntax: (lambda,  x, y, etc: expression)(arg1, arg2, etc..)

(lambda x: x+2)(10)

12

#### Saving to a Variable

In [8]:
named_lambda = lambda x: x+2
print(named_lambda)

<function <lambda> at 0x0000023F95297550>

In [9]:
named_lambda(20)

22

#### Multiple Inputs

In [13]:
def multiply(x, y):
    return x * y

multiply(10, 4)

40

In [15]:
#IFFE

(lambda x, y, z: x*y*z)(15,3,2)

90

Passing Function into Function

In [23]:
def apply_func(f, name):
    """
    f -> function to execute
    name -> name to exeute the function on
    """
    return f(name)

def get_first_letter(string):
    return string[0]


apply_func(get_first_letter, 'Brian')

'B'

#### Passing a Lambda into a Function

In [19]:
#IIFE - immediately invoked function expression
#execute a lambda function immediately after creation
#syntax: (lambda,  x, y, etc: expression)(arg1, arg2, etc..)

(lambda x: x+2)(10)

#call the apply_func function, pass in a lambda function as argument 'f', pass "codingtemple"
#as "name" argument

apply_func(lambda string: string[-1], "codingtemple")

'e'

In [21]:
apply_func(lambda string: string.upper(), "lower to upper") #comparatively to the bottom cell.

'LOWER TO UPPER'

In [25]:
def string_to_upper(string):
    return string.upper()
apply_func(string_to_upper, "lower")

'LOWER'

return function from function

In [29]:
#regularly defined function
#take in a 'num' argument and return a function

def create_multiplier(num):
    #define a locally scoped function that takes an 'x' argument
    def inner_func(x):
        #return x* the outer scopes "num" value
        return x * num
    #return the reference to the fnction defined within this creatE_multiplier function
    return inner_func

five_times = create_multiplier(5)
print(five_times)
five_times
five_times(10)

<function create_multiplier.<locals>.inner_func at 0x0000023F9536F310>

50

In [32]:
five_times_ten = ((lambda num: lambda x: x*num)(5))(10)

print(five_times_ten)

50

In [35]:
def create_mult(num):
    def multiplier(x):
        return x * num
    return multiplier
five_times_ten = create_mult(5)(10)
print(five_times_ten)

create_mult(3)(15)

50

45

In [38]:
def hide_the_cache():
    cache = {}
    
#This example has to do with global or local variables

In [ ]:
cache = {}
def something(x):
        if x in cache:
            return cache[x]
        else:
            cache[x] = x**2
            return cache[x]
    return something

my_func = hide_the_cache()
my_func(10)

#### Returning a Lambda from a Function

In [42]:
#create a function that takes in a num

def new_multiplier(num):
    #return the lambda function that takes in an x and will multiply x by the outer scope's num
    return lambda x: x*num

four = new_multiplier(4)
print(four)
four(10)

<function new_multiplier.<locals>.<lambda> at 0x0000023F9536FDC0>

40

#### If Statements within Lambdas

In [48]:
def do_something(number):
    
    if number > 10:
        return number **2
    else:
        return number + 10
    
do_something(15)

225

In [50]:
# ternary: value_if_true if condition else value_if_false

def do_something_again(num):
    return num **2 if num > 10 else num +10

do_something_again(15)

225

In [51]:
(lambda num: num**2 if num >10 else num + 10)(15)

225

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [54]:
f = (lambda x: x**3)
f(3)
print(f)

<function <lambda> at 0x0000023F9536FCA0>

In [55]:
answer = (lambda num: num**3)(10)
print(answer)

1000

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [62]:
#create a function that we want to apply to each element in a list
def squared_minus_two(num):
    return num ** 2 - 2

numbers = [3, 4, 5, 3, 1, 3, 5, 7, 10]

# create an empty list
new_nums = []
#loop over the numbers list
for num in numbers:
    #apply the function to that element
    new_num = squared_minus_two(num)
    new_nums.append(new_num)

print(new_nums)

[7, 14, 23, 7, -1, 7, 23, 47, 98]

In [65]:
#map(function, *iterables -> list, tuple, string, set, dict, etc)

map(squared_minus_two, numbers)
list(map(squared_minus_two, numbers))

[7, 14, 23, 7, -1, 7, 23, 47, 98]

In [69]:
my_map_obj = map(squared_minus_two, numbers)

In [73]:
next(my_map_obj)

7

In [75]:
def multiply(x, y):
    print(f"x={x}, y={y}")
    return x*y

x_values = [1, 2, 3, 4, 5, 6]
y_values = [10, 20, 30, 40, 50, 60]

list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=20
x=3, y=30
x=4, y=40
x=5, y=50
x=6, y=60

[10, 40, 90, 160, 250, 360]

In [82]:
my_map = map(multiply, x_values, y_values)

In [86]:
next(my_map)

x=4, y=40

160

#### Using Lambda's with Map

In [89]:
numbers_again = [5, 6, 4, 5, 2, 10, 19, 12]

list(map(lambda num: num**2 -2, numbers_again))

[23, 34, 14, 23, 2, 98, 359, 142]

In [91]:
x_vals = [1, 2, 3, 4]
y_vals = [10, 20, 30, 40]
list(map(lambda a, b: b//a, x_vals, y_vals))

[10, 10, 10, 10]

In [93]:
for num in map(lambda a, b: b//a, x_vals, y_vals):
    print(num)

10
10
10
10

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if even, half it if its odd

In [115]:
numbers = range(1,11)
list(numbers)


list(map(lambda n: n*2 if n % 2 == 0 else n/2, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [129]:
names = ['bob', 'billy', 'alex', 'amanda', 'amy', 'barbara', 'catherine']

def starts_with_a(name):
    return name[0].upper() == 'A'

a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, False, True, True, True, False, False]

In [131]:
# syntax: filter (function_to_apply, iterable -> list tuple, set, dict string, etc)
a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['alex', 'amanda', 'amy']

In [132]:
def remainder(num):
    #takes in a  number and returns their remainder after dividing by 3
    return num % 3

my_nums = [x for x in range(1, 11)]
print(my_nums)
list(map(remainder, my_nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [133]:
list(filter(remainder, my_nums))

#only prints out the statement that results to true

[1, 2, 4, 5, 7, 8, 10]

#### Using Lambda's with Filter()

In [179]:
names = ['bob', 'billy', 'alex', 'amanda', 'amy', 'barbara', 'catherine']

list(filter(lambda name: True if name[0].upper() == 'B' else False, names))

[]

In [186]:
names = ['bob', 'billy', 'alex', 'amanda', 'amy', 'barbara', 'catherine']

list(filter(lambda name: True if name[0].upper() == 'B' else False, names))

['bob', 'billy', 'barbara']

In [170]:
names = ['bob', 'billy', 'alex', 'amanda', 'amy', 'barbara', 'catherine']

list(filter(lambda name: name[0].upper() == 'B', names))

['bob', 'billy', 'barbara']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [152]:
from random import randint
random_nums =[randint(1,100) for _ in range(20)]
print(random_nums)

import statistics

mean(random_nums)

[90, 90, 60, 87, 79, 52, 85, 28, 12, 6, 85, 14, 34, 20, 78, 94, 65, 93, 81, 30]

59.15

In [153]:
from statistics import mean

In [154]:
list(filter(lambda num: num > mean(random_nums), random_nums))

[90, 90, 60, 87, 79, 85, 85, 78, 94, 65, 93, 81]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [192]:

from functools import reduce
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

#### Using Lambda's with Reduce()

In [195]:
def add_nums(x, y):
    print('='*20)
    print(f"x ={x}")
    print(f"y ={y}")
    print(f"returns {x + y}")
    return x + y

result_add = reduce(add_nums, [1, 2, 3, 4, 5])
print(result_add)

====================
x =1
y =2
returns 3
====================
x =3
y =3
returns 6
====================
x =6
y =4
returns 10
====================
x =10
y =5
returns 15
15

In [198]:
total = 0 
for num in [1, 2, 3, 4, 5]:
    print(f"Total: {total}, Num: {num}")
    total += num
print(total)

total_reduce = reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
print(total_reduce)

Total: 0, Num: 1
Total: 1, Num: 2
Total: 3, Num: 3
Total: 6, Num: 4
Total: 10, Num: 5
15
15

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [214]:
reduce(lambda x, y: x*y, [1, 2, 3, 4, 5])

120

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [3]:
import time

# print('hello')
# time.sleep(5)
# print('goodbye')


def capitalize(name):
    #Takes in a name, uppercase first letter - lower case rest
    return name[0].upper() + name[1:].lower()

def full_name(first, last):
    #take in first name, capitalize first name, take in a last name, capitalize the last name
    #return the concatenated string of first + space + last
    time.sleep(5)
    return capitalize(first) + ' ' + capitalize(last)

def greet_person(first_name, last_name, day_of_week):
    person_full_name = full_name(first_name, last_name)
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}")
    
greet_person('bRian', 'stAnTon', 'mOnDay')
#takes 10 seconds to run

Hello Brian Stanton, it sure is beautiful on this Monday

#### Implementing a Base Case

In [6]:
def add_nums(num):
    #set up a base case
    if num <=1:
        print(f"add_nums({num}) = {num}")
        return num
    else:
        print(f"add_nums{(num)} = {num} + add_nums({num-1})")
        return num + add_nums(num-1)
add_nums(5)

add_nums5 = 5 + add_nums(4)
add_nums4 = 4 + add_nums(3)
add_nums3 = 3 + add_nums(2)
add_nums2 = 2 + add_nums(1)
add_nums(1) = 1

15

#### Writing a Factorial Function

In [12]:
def hide_the_cache():
    cache = {}
    def factorial(num):
        if num in cache:
            return cache[num]
        elif num <= 1:
            return num
        else:
            answer = num * factorial(num - 1)
            cache[num] = answer
            return answer
    return factorial

my_factorial_func = hide_the_cache()
my_factorial_func(895)

115637100417745116900985004502674699732969773408863976786887017517130664720697151899579097191535254337517451245916082044990668147587057313667396281003018313506066925615074748316705430577813975352467500491186811584266264492889105062609842246027165871608661576739887015832716415450113016639367239897130571168588397905851928643719562811751882898700471862761729697508003025110005343011091751845053728011180290632992161974442860248663418420553039721387588279707326671492279898402591301381157625481960982039138494714290192497594374989180853711955133681257256619238625566591433918261721799064045782330936741778389784907553718726980830014054695833269427500558345445730939030222776164008495082810594763691508675538672633678294078022772866040675349056727101163337841967674146228727454912799398307589005675493747684838291103554476866831439978774794198740567483364004214332380394502458198678417823382270807767475063406384247631653916538026121030560867594683897036402247922924172935150335162861967258565977390187805389997540541450636067696566390571332331804952133954966710299975815847482764067949705103270032622413344899679743205528854235934658835775865177835552965171715524250805679567651106672877602584976965490651878857556360357577703785722702124121412791991823562511821190661561592545466522535502377252210343563056655426751664425823042020066769019695805825645703440515378237013635920022768249266554195996438135323067575287042232460772955699307725066784026964713739277710392919002067160585814533946582537186391596206566579569971378957805466038435112617971130711089588904404350205122080372070392813331274063726713410980315536678986621579736699459640564173919365184206073946725506476882301760789425934028626014209892386582847917767151449762556176725477538151889682593558331514982881449830117263667481143904171099337734363508432017268045411129041331311908117571820818968796375106332786732197293865162054817201207113377167809510399836634577026746630228394681700564097697295431193955830049885939740571175236717991390200557650760407425354209534410752000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [13]:
#n! = n * (n-1)!
# 5! = 5 * 4!

def factorial(num):
    if num <= 1:
        return 1
    else: 
        print(f"factorial({num}) = {num} * factorial({num-1})")
        return num * factorial(num-1)
    
factorial(25)

factorial(25) = 25 * factorial(24)
factorial(24) = 24 * factorial(23)
factorial(23) = 23 * factorial(22)
factorial(22) = 22 * factorial(21)
factorial(21) = 21 * factorial(20)
factorial(20) = 20 * factorial(19)
factorial(19) = 19 * factorial(18)
factorial(18) = 18 * factorial(17)
factorial(17) = 17 * factorial(16)
factorial(16) = 16 * factorial(15)
factorial(15) = 15 * factorial(14)
factorial(14) = 14 * factorial(13)
factorial(13) = 13 * factorial(12)
factorial(12) = 12 * factorial(11)
factorial(11) = 11 * factorial(10)
factorial(10) = 10 * factorial(9)
factorial(9) = 9 * factorial(8)
factorial(8) = 8 * factorial(7)
factorial(7) = 7 * factorial(6)
factorial(6) = 6 * factorial(5)
factorial(5) = 5 * factorial(4)
factorial(4) = 4 * factorial(3)
factorial(3) = 3 * factorial(2)
factorial(2) = 2 * factorial(1)

15511210043330985984000000

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [16]:
def sub_nums(num):
    #set up a base case
    if num <=1:
        print(f"sub_nums({num}) = {num}")
        return num
    else:
        print(f"sub_nums{(num)} = {num} - sub_nums({num-1})")
        return num - sub_nums(num-1)
sub_nums(10)

sub_nums10 = 10 - sub_nums(9)
sub_nums9 = 9 - sub_nums(8)
sub_nums8 = 8 - sub_nums(7)
sub_nums7 = 7 - sub_nums(6)
sub_nums6 = 6 - sub_nums(5)
sub_nums5 = 5 - sub_nums(4)
sub_nums4 = 4 - sub_nums(3)
sub_nums3 = 3 - sub_nums(2)
sub_nums2 = 2 - sub_nums(1)
sub_nums(1) = 1

5

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [25]:
lengths = map(len, ['brian', 'stanton', 'coding temple'])
print(lengths)

<map object at 0x0000019FD15F8850>

In [26]:
for item in lengths:
    print(item)

5
7
13

In [27]:
for item in lengths:
    print(item)
#wont print because it lazily iterates, not stored in memory.

In [30]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [32]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [34]:
a_new_list = [4, 5, 6, 7, 8, 9, 10]
list_iter = iter(a_new_list)
print(list_iter)

<list_iterator object at 0x0000019FD11B2580>

In [47]:
next(list_iter)
#does it once its not stored

StopIteration:

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [49]:
def my_range_iter(start, stop, step = 1):
    while start < stop:
        return start
        start += step
my_range_iter(0,10)

0

In [53]:
def my_range_iter(start, stop, step = 1):
    while start < stop:
        yield start
        start += step
        
y = my_range_iter(0,10)
print(y)
#creating a generator object based off the word yield
#variables within it are stored

<generator object my_range_iter at 0x0000019FD174F970>

In [59]:
next(y)

5

In [61]:
for x in my_range_iter(10, 50, 2):
    print(x)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

#### Infinite Generator

In [64]:
# bad, never create infinite loops

def infinite(x):
    while True:
        yield x
        x+=1
    
infinite_gen = infinite(1)

In [65]:
next(infinite_gen)

1

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [63]:
places = ["Argentina", " ", " ", "San Diego","","  ","","Boston","New York"]

list(filter(lambda p: len(p) > 3, places))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [19]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]
sorted(author)

['Andrew P. Garfield',
 'David hassELHOFF',
 'Gary A.J. Bernstein',
 'Joel Carter',
 'Victor aNisimov']

In [41]:
# sorting = lambda a: sorted(author)[-1].split()[-1][0]

print(sorted(author, key=lambda x: x.split()[-1]))


sorting = author.sort(key = lambda a: a.split()[-1])

# sorting(author)

['Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'Victor aNisimov', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [31]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

for val in places:
    print(val[0], val[1])
    
list(map(lambda val: (9/5)*val[1] + 32, places))

Nashua 32
Boston 12
Los Angelos 44
Miami 29

[89.6, 53.6, 111.2, 84.2]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [15]:
def fibonacci(num):
    count = 0
#start at 0
#accomodate for the start of everything. 0/1
#change alternate the output
#each number equal to sum of preceding 2 numbers
    first = 0
    second = 1
    base = 0

    while count <= num:
        print(first)
        base = first + second
        first = second
        second = base
        count += 1
    #continuous loop

print(fibonacci(10))

0
1
1
2
3
5
8
13
21
34
55
None

In [8]:
def my_gen(number):
    while number >= 0:
        yield number**2
        number -=1

for num in my_gen(10):
    print(num)

100
81
64
49
36
25
16
9
4
1
0