# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [2]:
def add_two(x):
    return x + 2

print(add_two)

<function add_two at 0x0000023F95297670>

In [3]:
lambda x: x + 2

In [5]:
print(lambda x: x+2)

<function <lambda> at 0x0000023F95297550>

In [6]:
#IIFE - immediately invoked function expression
#execute a lambda function immediately after creation
#syntax: (lambda,  x, y, etc: expression)(arg1, arg2, etc..)

(lambda x: x+2)(10)

12

#### Saving to a Variable

In [8]:
named_lambda = lambda x: x+2
print(named_lambda)

<function <lambda> at 0x0000023F95297550>

In [9]:
named_lambda(20)

22

#### Multiple Inputs

In [13]:
def multiply(x, y):
    return x * y

multiply(10, 4)

40

In [15]:
#IFFE

(lambda x, y, z: x*y*z)(15,3,2)

90

Passing Function into Function

In [23]:
def apply_func(f, name):
    """
    f -> function to execute
    name -> name to exeute the function on
    """
    return f(name)

def get_first_letter(string):
    return string[0]


apply_func(get_first_letter, 'Brian')

'B'

#### Passing a Lambda into a Function

In [19]:
#IIFE - immediately invoked function expression
#execute a lambda function immediately after creation
#syntax: (lambda,  x, y, etc: expression)(arg1, arg2, etc..)

(lambda x: x+2)(10)

#call the apply_func function, pass in a lambda function as argument 'f', pass "codingtemple"
#as "name" argument

apply_func(lambda string: string[-1], "codingtemple")

'e'

In [21]:
apply_func(lambda string: string.upper(), "lower to upper") #comparatively to the bottom cell.

'LOWER TO UPPER'

In [25]:
def string_to_upper(string):
    return string.upper()
apply_func(string_to_upper, "lower")

'LOWER'

return function from function

In [29]:
#regularly defined function
#take in a 'num' argument and return a function

def create_multiplier(num):
    #define a locally scoped function that takes an 'x' argument
    def inner_func(x):
        #return x* the outer scopes "num" value
        return x * num
    #return the reference to the fnction defined within this creatE_multiplier function
    return inner_func

five_times = create_multiplier(5)
print(five_times)
five_times
five_times(10)

<function create_multiplier.<locals>.inner_func at 0x0000023F9536F310>

50

In [32]:
five_times_ten = ((lambda num: lambda x: x*num)(5))(10)

print(five_times_ten)

50

In [35]:
def create_mult(num):
    def multiplier(x):
        return x * num
    return multiplier
five_times_ten = create_mult(5)(10)
print(five_times_ten)

create_mult(3)(15)

50

45

In [38]:
def hide_the_cache():
    cache = {}
    
#This example has to do with global or local variables

In [ ]:
cache = {}
def something(x):
        if x in cache:
            return cache[x]
        else:
            cache[x] = x**2
            return cache[x]
    return something

my_func = hide_the_cache()
my_func(10)

#### Returning a Lambda from a Function

In [42]:
#create a function that takes in a num

def new_multiplier(num):
    #return the lambda function that takes in an x and will multiply x by the outer scope's num
    return lambda x: x*num

four = new_multiplier(4)
print(four)
four(10)

<function new_multiplier.<locals>.<lambda> at 0x0000023F9536FDC0>

40

#### If Statements within Lambdas

In [48]:
def do_something(number):
    
    if number > 10:
        return number **2
    else:
        return number + 10
    
do_something(15)

225

In [50]:
# ternary: value_if_true if condition else value_if_false

def do_something_again(num):
    return num **2 if num > 10 else num +10

do_something_again(15)

225

In [51]:
(lambda num: num**2 if num >10 else num + 10)(15)

225

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [54]:
f = (lambda x: x**3)
f(3)
print(f)

<function <lambda> at 0x0000023F9536FCA0>

In [55]:
answer = (lambda num: num**3)(10)
print(answer)

1000

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [62]:
#create a function that we want to apply to each element in a list
def squared_minus_two(num):
    return num ** 2 - 2

numbers = [3, 4, 5, 3, 1, 3, 5, 7, 10]

# create an empty list
new_nums = []
#loop over the numbers list
for num in numbers:
    #apply the function to that element
    new_num = squared_minus_two(num)
    new_nums.append(new_num)

print(new_nums)

[7, 14, 23, 7, -1, 7, 23, 47, 98]

In [65]:
#map(function, *iterables -> list, tuple, string, set, dict, etc)

map(squared_minus_two, numbers)
list(map(squared_minus_two, numbers))

[7, 14, 23, 7, -1, 7, 23, 47, 98]

In [69]:
my_map_obj = map(squared_minus_two, numbers)

In [73]:
next(my_map_obj)

7

In [75]:
def multiply(x, y):
    print(f"x={x}, y={y}")
    return x*y

x_values = [1, 2, 3, 4, 5, 6]
y_values = [10, 20, 30, 40, 50, 60]

list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=20
x=3, y=30
x=4, y=40
x=5, y=50
x=6, y=60

[10, 40, 90, 160, 250, 360]

In [82]:
my_map = map(multiply, x_values, y_values)

In [86]:
next(my_map)

x=4, y=40

160

#### Using Lambda's with Map

In [89]:
numbers_again = [5, 6, 4, 5, 2, 10, 19, 12]

list(map(lambda num: num**2 -2, numbers_again))

[23, 34, 14, 23, 2, 98, 359, 142]

In [91]:
x_vals = [1, 2, 3, 4]
y_vals = [10, 20, 30, 40]
list(map(lambda a, b: b//a, x_vals, y_vals))

[10, 10, 10, 10]

In [93]:
for num in map(lambda a, b: b//a, x_vals, y_vals):
    print(num)

10
10
10
10

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if even, half it if its odd

In [115]:
numbers = range(1,11)
list(numbers)


list(map(lambda n: n*2 if n % 2 == 0 else n/2, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [129]:
names = ['bob', 'billy', 'alex', 'amanda', 'amy', 'barbara', 'catherine']

def starts_with_a(name):
    return name[0].upper() == 'A'

a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, False, True, True, True, False, False]

In [131]:
# syntax: filter (function_to_apply, iterable -> list tuple, set, dict string, etc)
a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['alex', 'amanda', 'amy']

In [132]:
def remainder(num):
    #takes in a  number and returns their remainder after dividing by 3
    return num % 3

my_nums = [x for x in range(1, 11)]
print(my_nums)
list(map(remainder, my_nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [133]:
list(filter(remainder, my_nums))

#only prints out the statement that results to true

[1, 2, 4, 5, 7, 8, 10]

#### Using Lambda's with Filter()

In [140]:
names = ['bob', 'billy', 'alex', 'amanda', 'amy', 'barbara', 'catherine']

list(filter(lambda name: True if name[0].upper == 'B' else False, names))

[]

In [138]:
list(filter(lambda name: name[0].upper() == 'B', names))

['bob', 'billy', 'barbara']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [152]:
from random import randint
random_nums =[randint(1,100) for _ in range(20)]
print(random_nums)

import statistics

mean(random_nums)

[90, 90, 60, 87, 79, 52, 85, 28, 12, 6, 85, 14, 34, 20, 78, 94, 65, 93, 81, 30]

59.15

In [153]:
from statistics import mean

In [154]:
list(filter(lambda num: num > mean(random_nums), random_nums))

[90, 90, 60, 87, 79, 85, 85, 78, 94, 65, 93, 81]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

#### Using Lambda's with Reduce()

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

#### Writing a Factorial Function

In [56]:
def hide_the_cache():
    cache = {}
    def factorial(num):
        if num in cache:
            return cache[num]
        elif num <= 1:
            return num
        else:
            answer = num * factorial(num - 1)
            cache[num] = answer
            return answer
    return factorial

my_factorial_func = hide_the_cache()
factorial(2)

2

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [159]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

list(filter(lambda places: places[0] == '', places))
list(filter(lambda name: name[0].upper() == 'B', names))

IndexError: string index out of range

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [ ]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [ ]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`